*{
    margin: 0;
    padding: 0;
}
.content{
    height: 400px;
    width: 1200px;
    margin: 0 auto;
    background-image: url("picture/bg.jpg");
}
.top{
    height: 30px;
    background: #ff0000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top:8px;
}
.left{
    width: 200px;
    text-align: left;
    margin-left: 10px;
}
.left ul li:hover{
    list-style-image: url("picture/list2.png");
    background: rgba(255.255.255.0);
    font-weight: bolder;
}
a:link{
    text-decoration: none;
}
.one{
    border-style:dashed;
    border-color:red ;
    border-radius: 10px;
    margin-top: 20px;
}
